@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;

}


:root {
    --blue: #1670c9;
    --white: #FFFFFF;
    --main-font: #000022;
    --main-bg-color: #FFFFFF;
    --search-bg-color: #FFFFFF;
    --body-bg-color: #FFFFFF;
}

.content {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 2fr 3fr 2fr;
}


/*****************HEADER**********************/
#logo {
    margin-left: 2%;
}


#search-bar {
    background-color: var(--search-bg-color);
    text-align: left;
    color: var(--main-font);
    width: 30%;
    height: 70%;
    max-height: 50px;
    border-radius: 10px;
    font-size: 1em;
    padding-left: 10px;
    margin-left: 15%;
}

.nav {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 100%;
    border-bottom: solid rgb(145, 145, 145) 1px;
}



/******************** BODY *****************************/
/*...............form  container......................*/
.form-container {
    grid-column: 2/3;
    grid-row: 2/3;
    max-height: fit-content;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

/* application form */
#job-form {
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 10px;
    margin-left: 30px;
    margin-bottom: 40px;
}

legend {
    box-shadow: inset 0 -0.1em black;
    width: fit-content;
    font-size: 1.5em;
}

#job-form .input-container {
    display: flex;
    flex-direction: column;
    min-width: none;
    width: 74%;
    max-width: 300px;
}

#job-form input,
select {
    min-height: 30px;
}

.input-container-row {
    display: flex;
    width: 65%;
    max-width: 300px;
}

.input-container-row>* {
    flex-basis: 50%;
}

[type="submit"] {
    width: 74%;
    max-width: 300px;
    background-color: whitesmoke;
    border: solid 1.5px black;
}

/*spreadsheet of form input*/
.job-aggregator-table {
    grid-column: 1/3;
    grid-row: 3/4;

    width: 70%;
    margin-left: 10%;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
}
.job-aggregator-table>*{
    display: flex;
    padding: 0.5%;
    align-items: center;
    gap: 50px;
    border-radius: 10px;
}
.job{
    border: 2px grey solid;
}
.job:hover{
    box-shadow: 2px 2px #2b3030,-2px -2px #2b3030 ;
}
#table-status{
    align-self: flex-start;
    background:white; 
    border: solid gray 0.2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}


/******************* SIDE BAR *************************/
.sidebar {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: var(--main-bg-color);
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 1.4em;
}

.sidebar>* {
    border: solid black 1px;
    padding: 20px;
}

/********************FOOTER**************************/
footer {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>* {
    font-size: 1em;
}